# Игнорировать node_modules и другие временные файлы
node_modules
/build
/.env
/.env.local
/.env.development
/.env.test
/.env.production

# Игнорировать конфигурационные файлы IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Игнорировать системные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать типы файлов, которые не нужны в образе
*.ts
*.tsx
*.test.ts
*.test.tsx
